<h2><%= @user.name %>'s Employee Information</h2>

<nav>
  <ul>
    <li><%= link_to "Employee Index", users_path %></li>
    <li><%= link_to "Edit Information", edit_user_path(@user) %></li>
  </ul>
</nav>

<div>
  Assigned to Department:
  <%= @department.name %>
</div>
