  <div class="invite">
    <%= form_for(:invite, url: invite_path, method: :post) do |form| %>
    <%= form.text_field :email, placeholder: "Enter Email Address" %>
    <button type="submit">
      <img src="/search-icon.png" alt="">
    </button>
    <% end %>
  </div>
