<p>3.2.4 - Sexual Harassment and Misconduct</p>

<p>3.3.9 - Classified Staff Recruitment and Transfer</p>

<p>3.3.16 - Dual State Employment</p>

<p>3.5.2 - Tuition Reimbursement for College Credit</p>

<p>3.5.4 - Telecommuting (Alternate Work Site)</p>

<p>3.7.3 - Jury Service and Witness Fees and Service</p>

<p>3.7.4 - New Employee Probationary Period</p>

<p>3.7.12 - Employee Exit Process</p>

<p>3.9.2 - Paid Military Leave</p>

<p>3.9.3 - Emergency Leave (Including Funeral Leave)</p>

<p>3.9.6 - Leave Without Pay</p>

<p>3.9.8 - Sick Leave</p>

<p>3.9.9 - Vacation</p>

<p>3.9.10 - Family and Medical Leave</p>

<p>3.9.14 - Extended Unpaid Military Leave</p>

<p>3.10.1 Discipline and Dismissal</p>

<p>3.10.3 - Grievance Policy</p>

<p>3.7.1. - Attendance</p>

<p>8.1.4 - Workplace Violence</p>
