<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Dunder Mifflin!</h1>
    <p>
      Head over to DunderMifflin.com and create your account!</p>
  </body>
</html>
