<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Happy Birthday, <%= @user.name %></h1>
    <p>
      The shareholders appreciate your hard work. You will be rewarded with nothing. <br>
    </p>
    <p>
      We're off to the beach. Get back to work!!
    </p>
  </body>
</html>
