<br>
<div>
  <p><strong><%= link_to performance_review.date, performance_review_path(performance_review) %></strong> | 	
    <%= link_to "edit date", edit_performance_review_path(performance_review) %>
  </p>
</div>
