<footer class="footer-2">
  <div class="footer-logo">
    <img src="http://fc01.deviantart.net/fs71/f/2012/034/c/b/dunder_mifflin_paper_company_inc__by_obeyshi-d4okpdj.png" alt="">
  </div>
    <ul>
      <li><a href="javascript:void(0)"><%= link_to "About Us", page_path('about') %></a></li>
      <li><a href="javascript:void(0)"><%= link_to "Policies", page_path('policies') %></a></li>
      <% if signed_in? %>
        <li> <%= link_to current_user.email, [:edit, current_user] %> </li>
      <% end %>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>
    </div>
</footer>

