<% if target.errors.any? %>

  <p>Could not save for the following reasons:</p>

  <ul>
    <% target.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

<% end %>

<%= yield %>
